[submodule "TradeWise-csharp"]
	path = TradeWise-csharp
	url = git@github.com:LysinKirill/TradeWise-csharp.git
[submodule "TradeWise-python"]
	path = TradeWise-python
	url = git@github.com:LysinKirill/TradeWise-python.git
[submodule "TradeWise-front"]
	path = TradeWise-front
	url = git@github.com:LysinKirill/TradeWise-front.git
